extends ../layouts/default.pug

block config

    - var pageTitle = 'Inscrições Abertas! - { Academia do Programador }'

append css
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.0/lity.min.css')
    link(rel='stylesheet', href='https://unpkg.com/aos@next/dist/aos.css')

    style.
        #layoutDefault {
            background: #1f2d41 !important;
        }
        .page-header-dark {
            padding-top: 4rem;
        }
        .menu {
            margin-top: 1.5rem;
        }
        .item-menu {
            margin-top: 2rem;
        }
        .item-menu-text {
            padding-left: 3rem;
            padding-top: 0.5rem;
        }
        .card-text {
            color: #242a85;
        }
        .video {
            padding-top: 2rem;
        }
        .video-container {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
        }

        .video-container iframe, .video-container object, .video-container embed {
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
        }
        .title {
            padding-top: 2rem;
        }
        .timer {
            max-width: 100%;
        }
        .page-header-dark {
            padding-top: 0rem;
        }
        .page-header {
            padding-top: 1rem;
        }

        @media only screen and (max-width: 600px) {
            .title {
                font-size: 1.5rem !important;
            }
        }
    meta(property="og:image" content="https://academiadoprogramador.com.br/inscricoes-abertas.png")
    meta(property="og:description" content="As inscrições para a { Academia do Programador } estão abertas. Não perca esta oportunidade!")

block content

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-gradient-primary-to-secondary',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: true,
        svgBorderFill: 'text-light'
    })

        .page-header-content.mb-n5
            .container
                .row.justify-content-center
                    .col-xl-9.col-lg-10.text-center(data-aos='fade')
                        //- h2.page-header-text O desconto de até R$ 240,00 termina em:
                        //- img.timer(src="https://s.mmgo.io/t/BwQV/scale_2x")
                        
                        h1.page-header-title.title Inscrições abertas para a <br/>{ Academia do Programador }
                        //h2.page-header-text Torne-se um programador profissional em até seis meses e seja disputado pelo mercado, mesmo que você nunca tenha feito um algorítmo na vida.

                        .video
                            .video-container
                                iframe(width="100%" height="450" src="https://www.youtube.com/embed/75d64cyJk3c?autoplay=1&amp;rel=0&amp;showinfo=0&amp;enablejsapi=1&amp;modestbranding=1&amp;nologo=1&amp;theme=light&amp;wmode=opaque&amp;iv_load_policy=3" frameborder="0" allowfullscreen="")

                        a.btn.btn-xl.btn-secondary.btn-block.rounded-pill.mt-5(href="https://pay.hotmart.com/A5013488A?off=nc94kftr&checkoutMode=10&split=12&bid=1589319974564") Sim, vou garantir a minha vaga!
                        //- a.btn.btn-xl.btn-secondary.btn-block.rounded-pill.mt-5(href="https://pay.hotmart.com/A5013488A?off=fplj7erg&checkoutMode=10&split=12&bid=1589319974564") Sim, vou garantir a minha vaga COM DESCONTO!


    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-light',
        pageHeaderStyle: 'page-header-light',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: true,
        svgBorderFill: 'text-dark'
    })

        .page-header-content
            .container
                .row.justify-content-center
                    .col-xl-8.col-lg-10.text-center(data-aos='slide-left')
                        h1.page-header-title A jornada que iremos trilhar!
                        
                    .col-xl-12.col-lg-12.text-center(data-aos='slide-right')
                        img(src="assets/img/rota-do-programador.png" width="100%")



    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-dark',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-light'
    })

        .page-header-content
            .container
                .row.justify-content-center
                    .col-xl-8.col-lg-10.text-center(data-aos='slide-up')
                        h1.page-header-title Mas cadê aquelas linguagens difíceis?

                    .col-xl-8.col-lg-10(data-aos='slide-up')

                        p.page-header-text Você pode até achar que precisaria aprender várias linguagens de programação, C, C++, Java, C#, PHP, Assembly, estruturas de dados complexas, padrões de projetos, arquitetura, etc.

                        p.page-header-text Se você tem esse pensamento, sinto muito, dificilmente você se tornará um programador mesmo. Pois você ficará cada vez mais perdido e não conseguirá trilhar um caminho claro para se tornar um programador.

                        p.page-header-text Mas se você quer um caminho otimizado que torna possível você se tornar um programador apto a conseguir um emprego no mercado de trabalho, dando um passo de cada vez.

                        p.page-header-text Com rota que vamos trilhar, o ambiente de comunidade onde todos se ajudam e o suporte que você vai receber, você será capaz de sair do ZERO e se tornar um programador profissional no menor tempo.

                        p.page-header-text Depois você pode até aprender as outras linguagens, frameworks, e outras coisa da moda. 😉


                        a.btn.btn-xl.btn-secondary.btn-block.rounded-pill.mt-5(href="https://pay.hotmart.com/A5013488A?off=nc94kftr&checkoutMode=10&split=12&bid=1589319974564") Sim, vou garantir a minha vaga AGORA!
                        //- a.btn.btn-xl.btn-secondary.btn-block.rounded-pill.mt-5(href="https://pay.hotmart.com/A5013488A?off=fplj7erg&checkoutMode=10&split=12&bid=1589319974564") Sim, vou garantir a minha vaga COM DESCONTO!



    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-light',
        pageHeaderStyle: 'page-header-light',
        svgBorderAngled: true,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: 'text-dark'
    })

        .page-header-content.mb-n5
            .container
                .row.justify-content-center
                    .col-xl-9.col-lg-10.text-center(data-aos='fade')
                        //- h2.page-header-text O desconto de até R$ 240,00 termina em:
                        //- img.timer(src="https://s.mmgo.io/t/BwQV/scale_2x")
                        
                        h1.page-header-title.title A { Academia do Programador } vai te destravar!
                        h2.page-header-text Veja o que o Maurício e o Marcelo estão achando da { Academia do Programdor }.


                    .col-xl-6.col-lg-6(data-aos='fade')
                        .video
                            .video-container
                                iframe(width="100%" height="450" src="https://player.vimeo.com/video/436121457" frameborder="0" allowfullscreen="")

                    .col-xl-6.col-lg-6
                        .video
                            .video-container
                                iframe(width="100%" height="450" src="https://player.vimeo.com/video/436121324" frameborder="0" allowfullscreen="")


    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-dark',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

        .page-header-content
            .container
                .row.justify-content-center
                    .col-xl-8.col-lg-10.text-center(data-aos='slide-up')
                        h1.page-header-title Conheça toda a Jornada ...

                    .col-xl-12.col-lg-12.text-center(data-aos='fade-up')
                        img(src="assets/img/modulos-do-curso.png" width="100%")






    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-white',
        pageHeaderStyle: 'page-header-white',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-light'
    })

        .page-header-content
            .container
                .row.justify-content-center
                    .col-xl-8.col-lg-10.text-center(data-aos='slide-up')
                        h1.page-header-title Você não vai trilhar este caminho sozinho!

                .row
                    .col-lg-4.col-md-6.mb-5(data-aos='fade-up')
                        a.card.text-center.text-decoration-none.h-100.lift(href='#!')
                            .card-body.py-5
                                .icon-stack.icon-stack-lg.bg-green-soft.text-green.mb-4
                                    i(data-feather='help-circle')
                                h5 Aula tira-dúvidas TODA SEMANA
                                p.card-text Toda semana você terá acesso a uma aula tira-dúvidas para você não ficar travado em nenhum ponto da jornada.
                    .col-lg-4.col-md-6.mb-5(data-aos='fade-up', data-aos-delay='100')
                        a.card.text-center.text-decoration-none.h-100.lift(href='#!')
                            .card-body.py-5
                                .icon-stack.icon-stack-lg.bg-red-soft.text-red.mb-4
                                    i(data-feather='slack')
                                h5 Comunidade de alunos no Slack
                                p.card-text Uma comunidade de alunos que estão no mesmo barco que você. "Se quer ir longe vá acompanhado"
                    .col-lg-4.col-md-6.mb-5(data-aos='fade-up', data-aos-delay='150')
                        a.card.text-center.text-decoration-none.h-100.lift(href='#!')
                            .card-body.py-5
                                .icon-stack.icon-stack-lg.bg-yellow-soft.text-yellow.mb-4
                                    i(data-feather='map')
                                h5 Acompanhamento individual
                                p.card-text Você terá um acompanhamento individual do seu progresso. Assim você não ficará disperso e saberá exatamente o único próximo passo.
                    .col-lg-4.col-md-6.mb-5.mb-lg-0(data-aos='fade-up')
                        a.card.text-center.text-decoration-none.h-100.lift(href='#!')
                            .card-body.py-5
                                .icon-stack.icon-stack-lg.bg-purple-soft.text-purple.mb-4
                                    i(data-feather='user-check')
                                h5 Consultoria individual
                                p.card-text Você terá direito a no mínimo 1 hora de consultoria individual com o professor pra você perguntar o que quiser.
                    .col-lg-4.col-md-6.mb-5.mb-md-0(data-aos='fade-up', data-aos-delay='100')
                        a.card.text-center.text-decoration-none.h-100.lift(href='#!')
                            .card-body.py-5
                                .icon-stack.icon-stack-lg.bg-blue-soft.text-blue.mb-4
                                    i(data-feather='award')
                                h5 Certificado
                                p.card-text Ao final do curso você receberá um certificado de conclusão, comprovando que você trilho toda a jornada.
                    .col-lg-4.col-md-6(data-aos='fade-up', data-aos-delay='150')
                        a.card.text-center.text-decoration-none.h-100.lift(href='#!')
                            .card-body.py-5
                                .icon-stack.icon-stack-lg.bg-orange-soft.text-orange.mb-4
                                    i(data-feather='package')
                                h5 Acesso vitalício
                                p.card-text Você terá acesso vitalício ao material da Academia do Programador
                                i(data-feather='alert-triangle')
                                p.card-text.small.text-orange Somente para esta turma!







    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-light',
        pageHeaderStyle: 'page-header-light',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: true,
        svgBorderFill: 'text-dark'
    })

        .page-header-content
            .container
                .row.justify-content-center
                    .col-xl-8.col-lg-10.text-center(data-aos='slide-left')
                        h1.page-header-title Conheça o instrutor!
                        img.avatar-lp(src='/assets/img/foto-gustavo.jpg')
                        p.page-header-text.mb-5 <strong>Gustavo Furtado</strong> é Mestre em Computação Aplicada, Engenheiro da Computação, criador do blog { Dicas de Programação } por onde já passaram mais de 3 milhões de pessoas, em sua maioria iniciantes em programação.
                        p.page-header-text.mb-5 Tem mais de 15 anos de experiência como desenvolvedor de softwares, tendo trabalhado com diversas linguagens de programação, frameworks, tecnicas e metodologias.
                        
                        a.btn.btn-xl.btn-primary.btn-block.rounded-pill.mt-5(href="https://pay.hotmart.com/A5013488A?off=nc94kftr&checkoutMode=10&split=12&bid=1589319974564") Sim, quero me tornar um programador!
                        //- a.btn.btn-xl.btn-primary.btn-block.rounded-pill.mt-5(href="https://pay.hotmart.com/A5013488A?off=fplj7erg&checkoutMode=10&split=12&bid=1589319974564") Sim, quero me tornar um programador!
                   




    //- include mixins/header.pug
    //- +header({
    //-     pageHeaderBg: 'bg-light',
    //-     pageHeaderStyle: 'page-header-light',
    //-     svgBorderAngled: false,
    //-     svgBorderRounded: true,
    //-     svgBorderWaves: false,
    //-     svgBorderFill: 'text-dark'
    //- })


    //-     .page-header-content
    //-         .container
    //-             .row.justify-content-center
    //-                 .col-xl-8.col-lg-10.text-center(data-aos='slide-up')
    //-                     h1.page-header-title Tire todas as suas dúvidas

    //-                 .col-xl-10.col-lg-10

                        



                        

     

          
                


block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })

append scripts
    script(src='https://unpkg.com/aos@next/dist/aos.js')
    script.
        AOS.init({
            disable: 'mobile',
            duration: 600,
            once: true
        });
    //Facebook Pixel Code
    script.
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '553205085377073');
        fbq('track', 'PageView');
    noscript
        img(height="1", width="1", style="display:none", src="https://www.facebook.com/tr?id=553205085377073&ev=PageView&noscript=1")
    //Mautic
    script.
        (function(w,d,t,u,n,a,m){w['MauticTrackingObject']=n;
            w[n]=w[n]||function(){(w[n].q=w[n].q||[]).push(arguments)},a=d.createElement(t),
            m=d.getElementsByTagName(t)[0];a.async=1;a.src=u;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//mautic.dicasdeprogramacao.com.br/mtc.js','mt');
        mt('send', 'pageview');
    //Global site tag (gtag.js) - Google Ads: 993243463
    script(async, src="https://www.googletagmanager.com/gtag/js?id=AW-993243463")
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'AW-993243463');
        gtag('event', 'conversion', {'send_to': 'AW-993243463/gomoCKeam88BEMfiztkD'});
    // Global site tag (gtag.js) - Google Analytics
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-171709654-1")
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-171709654-1');

    //JivoChat
    script(async, src="//code.jivosite.com/widget/PSW9chLIyg")

